
h2 {
    margin-top: 2rem;
    font-size: 2rem;
}

.card {
    border: 0.1px solid white;
    border-radius: 5px;
    padding: 1rem 0.5rem;
    margin: 0.7rem 0;
}

.card p {
    margin: 0.5rem;
}

.card h3 {
    margin: 0.5rem;
    font-size: 1.5rem;
}

/* .container {
    width: 90%;
    max-width: 41rem;
    margin: 5rem  auto;
  }
   */
  .nav {
    display: flex;
    justify-content: space-between;
  }